/*navbar*/
.navbar-lista{
	margin-left: 600px;
}

/*.navbar-link a{
	color: #FAFAFA;
}*/

.navbar{
	background-color: #Ffffff;
	height: 7rem;
}

/*sección 1*/
.jumbotron{
	background-color: #e56353;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 0rem;
}

.jumbotron-seccionuno{
	height: 25rem;
}

.container-seccionuno{
	text-align: center;
	color: #ffffff;
}

.container-seccionuno h1{
	font-size: 4rem;
}

/*sección 2*/
.row-img-uno{
	padding-right: 0px;

}

.row-img-dos{
	padding-right: 0px;
	padding-left: 0px;

}
.secciondos-texto1{
	padding-top: 6rem;
	padding-left: 5rem;
	padding-bottom: 5rem;
	padding-right: 8rem;
	background-color: #707070;

}

.secciondos-texto1 h2{
	color: #FAFAFA;
	text-align: center;
}
.secciondos-texto1 p{
	font-size: 1.2rem;
	color: #FAFAFA;
}

.secciondos-texto2{
	padding-top: 6rem;
	padding-left: 5rem;
	padding-bottom: 5rem;
	padding-right: 8rem;
	background-color: #FFFFFF;

}

.secciondos-texto2 h2{
	color: #707070;
	text-align: center;
}
.secciondos-texto2 p{
	font-size: 1.2rem;
	color: #707070;
}
/*sección 4*/

.productores-texto{
	color: #707070;
	padding-top: 6rem;
	padding-left: 4rem;
	padding-bottom: 5rem;
	padding-right: 2rem;
}

.productores-texto h2{
	text-align: center;
}

.productores_img img{
	padding-top: 4rem;
	padding-left: 4rem;
	padding-bottom: 4rem;
	padding-right: 4rem;
}

/*footer*/

.jumbotron-footer{
	background-color: #686963;
	height: 15rem;
	margin-bottom: 0rem;
}

.footer-logo{
	float: left;
	margin-right: 15rem;
	vertical-align: center;
}

.footer-redes{
	float: left;
	margin-right: 15rem;
	margin-left: 10rem;
}

.footer-menu{
	float: left;
	margin-left: 20rem;
}

.footer-redes-face{
	float: left;
	margin-right: 3rem;
}

.footer-redes-insta{
	float: left;
	margin-right: 3rem;
}

.footer-redes-twitter{
	float: left;
}

.footer-menu li{
	list-style: none;
}